In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('b.xlsx',skiprows=1)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21054 entries, 0 to 21053
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   省份          21054 non-null  object
 1   城市          21054 non-null  object
 2   区县          21054 non-null  object
 3   客资编号        21054 non-null  object
 4   客资名称        21054 non-null  object
 5   客资地址        21054 non-null  object
 6   坐标经度        20355 non-null  float64
 7   坐标纬度        20355 non-null  float64
 8   主渠道         21054 non-null  object
 9   销售渠道        21054 non-null  object
 10  子渠道         21054 non-null  object
 11  连锁名称        82 non-null     object
 12  连锁类型        0 non-null      float64
 13  客户状态        21054 non-null  object
 14  是否协议客户      10341 non-null  object
 15  协议等级        10342 non-null  object
 16  冰柜台数        21054 non-null  int64
 17  整体饮料排面数     10565 non-null  object
 18  可乐排面占比%     10565 non-null  object
 19  整体饮料冰柜门数    10454 non-null  object
 20  可乐冰柜排面占比%   10322 non-null  object
 21  销售收入202310  21054 non-null  float64
 22  销售收入202311  21054 non-null  float64
 23  销售收入202312  21054 non-null  float64
 24  销售收入202401  21054 non-null  float64
 25  销售收入202402  21054 non-null  float64
 26  销售收入202403  21054 non-null  float64
 27  销售收入202404  21054 non-null  float64
 28  销售收入202405  21054 non-null  float64
 29  销售收入202406  21054 non-null  float64
 30  销售收入202407  21054 non-null  float64
 31  销售收入202408  21054 non-null  float64
 32  销售收入202409  21054 non-null  float64
 33  sum         21054 non-null  float64
dtypes: float64(16), int64(1), object(17)
memory usage: 5.5+ MB

### 删除重复值

In [4]:
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
21049    False
21050    False
21051    False
21052    False
21053    False
Length: 21054, dtype: bool

### 删除sum为0的数据

In [5]:
data1=data[data['sum'] !=0]
df=data1.dropna(subset=['sum'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21054 entries, 0 to 21053
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   省份          21054 non-null  object
 1   城市          21054 non-null  object
 2   区县          21054 non-null  object
 3   客资编号        21054 non-null  object
 4   客资名称        21054 non-null  object
 5   客资地址        21054 non-null  object
 6   坐标经度        20355 non-null  float64
 7   坐标纬度        20355 non-null  float64
 8   主渠道         21054 non-null  object
 9   销售渠道        21054 non-null  object
 10  子渠道         21054 non-null  object
 11  连锁名称        82 non-null     object
 12  连锁类型        0 non-null      float64
 13  客户状态        21054 non-null  object
 14  是否协议客户      10341 non-null  object
 15  协议等级        10342 non-null  object
 16  冰柜台数        21054 non-null  int64
 17  整体饮料排面数     10565 non-null  object
 18  可乐排面占比%     10565 non-null  object
 19  整体饮料冰柜门数    10454 non-null  object
 20  可乐冰柜排面占比%   10322 non-null  object
 21  销售收入202310  21054 non-null  float64
 22  销售收入202311  21054 non-null  float64
 23  销售收入202312  21054 non-null  float64
 24  销售收入202401  21054 non-null  float64
 25  销售收入202402  21054 non-null  float64
 26  销售收入202403  21054 non-null  float64
 27  销售收入202404  21054 non-null  float64
 28  销售收入202405  21054 non-null  float64
 29  销售收入202406  21054 non-null  float64
 30  销售收入202407  21054 non-null  float64
 31  销售收入202408  21054 non-null  float64
 32  销售收入202409  21054 non-null  float64
 33  sum         21054 non-null  float64
dtypes: float64(16), int64(1), object(17)
memory usage: 5.6+ MB

### 将目标列数字化

In [8]:
df['A_numeric'] = pd.factorize(df['子渠道'])[0]
print(df['A_numeric'])

0         0
1         0
2         1
3         2
4         3
         ..
21049     5
21050    19
21051    13
21052    29
21053     3
Name: A_numeric, Length: 21054, dtype: int64

### 计算所有月份以及学习和假期月份销量均值（销售数据不为0）

In [32]:
#所有月份计算非零列均值
columns= df.iloc[:,21:33]
mean_non_zero = columns.apply(lambda row: row[row != 0].mean(), axis=1)

# 将均值添加到原始 DataFrame
df['mean_non_zero'] = mean_non_zero


# 选3-6，9-1月份列为学习月份并计算非零列的均值
mean_non_zero_work = df.iloc[:, [21,23,24,25,26,29,30,31,32]].apply(lambda row: row[row != 0].mean(), axis=1)

# 将均值添加到原始 DataFrame
df['mean_non_zero_work'] = mean_non_zero_work

#选2，7，8月份为假期月份
mean_non_zero_holiday = df.iloc[:, [22,27,28]].apply(lambda row: row[row != 0].mean(), axis=1)

# 将均值添加到原始 DataFrame
df['mean_non_zero_holiday'] = mean_non_zero_holiday

### 求以上三列和数字化目标列的相关性

In [23]:
correlation1 = df['mean_non_zero'].corr(df['A_numeric'])
correlation2 = df['mean_non_zero_work'].corr(df['A_numeric'])
correlation3 = df['mean_non_zero_holiday'].corr(df['A_numeric'])
print(correlation1,correlation2,correlation3)

-0.089383549290759 -0.09861984918385025 -0.13254986029568822